<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TechZ{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">TechZ</a>
        <ul class="nav nav-pills nav-fill gap-2">
            {% if user.is_authenticated and user.userprofile.role == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_request' %}">Создать заявку</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'request_list' %}">Список заявок</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statistics' %}">Статистика</a>
                </li>
            {% elif user.is_authenticated and user.userprofile.role == 'user' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_request' %}">Создать заявку</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'request_list' %}">Мои заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'notification_list' %}">Мои уведомления</a>

                </li>
            {% elif user.is_authenticated and user.userprofile.role == 'ispolnitel' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobs' %}">Мои заявки</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="navbar-text">
                    Здравствуйте, {{ user.username }}
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'login' %}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'register' %}">Регистрация</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container" style="max-width: 700px">
    {% block content %}
        {% if not user.is_authenticated %}
            <h3 class="text-center position-absolute top-50 start-50 translate-middle">
                Для получения доступа к ресурсу необходимо пройти авторизацию либо регистрацию
            </h3>
        {% else %}
            <h3 class="text-center position-absolute top-50 start-50 translate-middle">Добро пожаловать на сайт компании
                TechZ, мы специализируемся на ремонте техники APPLE</h3>
        {% endif %}
    {% endblock %}
</div>
</body>
</html>
